body{
  font-family: "Comic Sans MS",cursive,sans-serif ;
}

#menu{
  font-size: 2em;
  margin-bottom: 20px;
}
#hdr{
  font-size: 2.5em;
  margin: 10px;
}
div.row{
  margin: auto;
}
div.text-center{
  font-size: 1.5em;
  font-weight: bold;

}

.navbar-nav{
  background-color: white;
}

.box{
  background-color:  #999999;
  padding: 10px;
  margin: 10px;
}